{% extends './base.html' %}

    {% block post-container %}
        {% for post in posts %}
            <li>
               <a href="/diary/page/{{post.id}}">
                <div class="date">
                    <span>{{post.dt_created|date:"d"}}</span>
                                <p>{{post.dt_created|date:"M"}}</p>
                </div>
                <h2>{{post.title}}</h2>
                <div class="score">
                    <p>감정점수</p>
                    <span>{{post.score}}점</span>
                </div>
                </a>
            </li>
        {% endfor %}
    {% endblock post-container %}